input[type=text], input[type=password], input[type=number], input[type=email], textarea
  df()
  bt 1px solid #999
  br 1px solid #bbb
  bb 1px solid #ccc
  bl 1px solid #aaa
  p x*.25 - 1px .25em
  box-sizing border-box
  span 2
  box-shadow inset b10 1px 1px 4px, #fff 0 1px 0
  border-radius 3px

input[type=text], input[type=password], input[type=number], input[type=email]
  span 2

textarea, select, input
  m 0

body.home.index
  #main
    b 1px solid #ddd
    ul.tabs
      clearfix()
      li.tab
        float left
        br 1px solid #ddd
        lh 2em
        p 0 1em
        &.active
          bg #fff
          fw bold
          lh x*2 + 1px
          mb -1px
          a
            c txt

    ul.feeds
      bg #fff
      li.feed
        ul.posts
          li.post
            p 1.5em 0
            clearfix()
            bt 1px solid #ddd

            .left
              col 3
              m 0 1.5em 0
              .thumbnail
                mb 1px
                r 240px
                relative()

                img
                  d block
                  w 240px
                  h 240px
                  bg link

                .overlay
                  bg w65
                  p .5em .75em
                  absolute bottom 0 left 0
                  w 100%
                  p.title
                    fw bold
                  p.time
                    c #666
                    s 85%
                .price
                  d none

              .interest
                p
                  s 12px
                  c dim
                  mb .5em
                  d none
                ul.avatars
                  li.avatar
                    float left
                    r 47px
                    m 0 1px 1px 0
                    img
                      w 100%
                      d block
                    &.empty
                      bg #eee
                      f bold 1.5em/47px sans
                      c #666
                      ta center

            a.poster.avatar
              float left
              mr x
              img
                h 47px
                w 47px
                bg #999

            .content
              w cw*5 - 47px - 5*x - 2px
              float left

              p.title 
                fw bold
                c txt

              .desc
                c #666
                s 12px

              ul.comments
                pt 1.5em
                s 12px
                li.comment
                  p .5em
                  bt 1px solid #fff
                  bb 1px solid #ddd
                  bg b4
                  clearfix()
                  &.form
                    input
                      w 100%
                      s 12px
                  a.author.avatar
                    d block
                    bg #fff
                    p 2px
                    b 1px solid #ddd
                    float left
                    mr .5em
                    img
                      d block
                      width 32px
                      height 32px
                  .body
                    float left
                    a.author
                      fw bold
                    p.meta
                      c dim

            ul.actions
              col 1
              pl 1em
              li
                &.join a.button, &.leave a.button
                  tt uppercase
                  w 100%
                  fw bold
                  lh 3em
                  mb .5em
                &.steal a
                  c dim
                  s 12px
              
  #sidebar
    pl 1.5em
    section
      mb 1.5em
      b 1px solid #ddd
      border-radius 5px
      header
        border-radius 4px 4px 0 0
        background linear-gradient(top, m240, m230)
        bt 1px solid #fff
        bb 1px solid b15
        bl 1px solid w15
        h2
          p 0 .5em
          c #666
          ts #fff 0 1px 0
          lh x*2 - 2px
      .content
        bg #fff
        lhh 240px
        ta center
        c dim
        border-radius 0 0 4px 4px

