input[type=text], input[type=password], input[type=number], input[type=email], textarea
  df()
  bt 1px solid #999
  br 1px solid #bbb
  bb 1px solid #ccc
  bl 1px solid #aaa
  p x*.25 - 1px .25em
  box-sizing border-box
  span 2
  box-shadow inset b10 1px 1px 4px, #fff 0 1px 0
  border-radius 3px

input[type=text], input[type=password], input[type=number], input[type=email]
  span 2

textarea, select, input
  m 0

body.home.index
  #main
    b 1px solid #ddd
    ul.tabs
      clearfix()
      li.tab
        float left
        br 1px solid #ddd
        lh 2em
        p 0 1em
        &.active
          bg #fff
          fw bold
          lh x*2 + 1px
          mb -1px
          a
            c txt

    ul.feeds
      bg #fff
      li.feed
        ul.posts
          li.post
            p 1.5em 0
            clearfix()
            bt 1px solid #ddd

            .left
              w 120px
              float left
              m 0 1em
              .thumbnail
                p 4px
                b 1px solid #ccc
                border-radius 5px
                box-shadow b30 0 0 1em
                mb 1.5em

                .img
                  d block
                  w 110px
                  h 70px
                  bg link
                  c #fff
                  f bold 2em/70px sans
                  ta center

              .interest
                p 0 5px
                p
                  s 12px
                  c dim
                  mb .5em
                ul.avatars
                  li.avatar
                    float left
                    w 24px
                    h 24px
                    p 3px
                    b 1px solid #ddd
                    c dim
                    ta center
                    lh 16px
                    bg #ccc
                    m 0 8px 8px 0

            .avatar
              float left
              mr x
              .avatar
                h 40px
                w 40px
                bg #999

            .content
              w cw*6 - 40px - 2*x
              float left
              p.title a
                f bold 125%/1.3 sans
                c txt
                .time
                  c dim
              .desc
                c dim
                s 12px

              ul.comments
                pt 1.5em
                s 12px
                li.comment
                  p .5em
                  bg b4
                  bt 1px solid #fff
                  bb 1px solid #ddd
                  clearfix()
                  &.form
                    input
                      w 100%
                      s 12px
                  .avatar
                    width 32px
                    height 32px
                    bg #999
                    float left
                    mr .75em
                  .body
                    float left
                    a.author
                      fw bold
                    p.meta
                      c dim

            ul.actions
              col 1
              pl 1em
              li
                &.join
                  mb .5em
                &.steal a
                  c dim
                  s 12px
                  
              
  #sidebar
    pl 1.5em
    form
      border-radius 5px
      border 1px solid #ddd
      p 1.5em
