body.landing.index
  header.site
    mb 0
    bb 1px solid #bbb
    nav
      ul.site
        bl none
        li.tab
          float right
          bl 1px solid b10
          relative()
          &.login
            form.login
              position absolute
              top x*3 + 1px
              right 0
              w cw*6 - x
              z 1000
              background #fff
              border-radius 0 0 5px 5px
              box-shadow b30 0 1em 1em
              b 1px solid #ddd
              bt none
              d none
              opacity 0
              transition()
              &.visible
                opacity 1
                d block
              
              ul.fields
                p 1em 0 .5em 1em
                clearfix()
                li.field
                  col 2
                  w cw*2 - x
                  p 0 1em .5em 0
                  input[type=email], input[type=password], input[type=submit]
                    w 100%
                li.link
                  s 75%
                  lh x*1.5
                  input
                    pr .4em
                  a
                    c txt
                    &:hover
                      c hover

  header.landing
    clearfix()
    p 3em 0
    bg hsl(lhue,100,53)
    background linear-gradient(top, hsl(lhue,100,55), hsl(lhue,100,45))
    bt 1px solid hsl(lhue,100,75)
    bb 1px solid hsl(lhue,100,35)
    .container
      cnt()
      .introduction
        col 6
        pr 3em
        relative()
        h1
          f 4em/1.5 "Gotham Rounded"
          ls -4px
          background url(../i/logo.png) no-repeat
          h 140px
          w 480px
          ml -25px
          ti -999em
        h2
          c w50
          f bold .75em/1.5 sans
          tt uppercase
          p 0 .5em
          aa()
          absolute top 1em right 4em

        p.tagline
          f 2em/1.5 sans
          c w75
      .features
        col 6
        box-shadow b30 0 0 2em
        ul.thumbs
          bg #fff
          clearfix()
          li.thumb
            w 480px
            h 280px
            relative()
            p 10px
            img
              w 460px
              h 260px
            .overlay 
              bg w65
              p .5em .75em
              absolute bottom 10px left 10px
              w 100%
              p 1.5
              p.title
                fw bold
              p.time
                c #666

  #content
    section
      bt 3px double #ddd
      p 3em 0
      header
        h2
          f 2em/1.5 "Gotham Rounded", sans
          mb 1em
          ta center
      .content
        ul
          clearfix()

      &.signup
        bt none
        form
          background linear-gradient(top, m250, m230)
          b 1px solid #ddd
          border-radius 5px
          clearfix()
          mb 1.5em
          p 1em 0 1.5em
          legend
            f 125%/1.5 sans
            text-shadow #fff 0 1px 0
            c #666
            pl x*1.5
            pb x*.5

          ul.fields
            li.field
              &.url
                col 9
                .mock-url
                  bt 1px solid #999
                  br 1px solid #bbb
                  bb 1px solid #ccc
                  bl 1px solid #aaa
                  box-sizing border-box
                  box-shadow inset b10 1px 1px 4px, #fff 0 1px 0
                  border-radius 3px
                  bg #fff
                  clearfix()
                  ml x*1.5

                  p
                    col 4
                    w cw*4 - x*1.5 - 2px
                    f 150%/2 sans
                    p 0 .8em

                  input[type=text]
                    col 5
                    b none
                    box-shadow #000 0 0 0 
                    f bold 150%/2 sans
                    c link
                    bg transparent
                    border-radius 0 4px 4px 0

              &.submit
                col 3
                w cw*3 - 2px
                p 0 x*1.5
                button#signup
                  f 150%/2 sans
                  b 1px solid hsl(215,100,20)
                  bg #3f5e97
                  clearfix()
                  box-shadow #fff 0 1px 0
                  text-shadow none
                  p 0
                  m 0
                  w 100%
                  span
                    d block
                    float left
                    bt 1px solid w25
                    br 1px solid b30
                    bb 1px solid w25
                    bl 1px solid w15
                    lhh 2em
                    &.signup
                      border-radius 2px 0 0 2px
                      p 0 .5em
                      text-shadow b30 0 1px 0
                      w cw*3 - x*3 - x*3 - 4px
                    &.f
                      border-radius 0 2px 2px 0
                      tt lowercase
                      d block
                      c #fff
                      fw bold
                      ta right
                      s 2.4em
                      w x*3
                      pr 3px
                      lhh x*3
                      bg #3f5e97
                      bb 5px solid #6d81b4


        p.notes
          p 0 cw*2
          ta center
          c dim
          
      &.guide
        ul
          li
            w 312px
            float left
            mr 12px
            &.three
              mr 0
          
            .img
              w 312px
              h 160px
              bg #eee
              b 1px solid #ddd
              f bold 1.5em/160px sans
              ta center
              c dim

            .desc
              clearfix()
              p 1.5em 0 0
              h3
                f bold 1.5em/40px sans
                c #fff
                bg link
                w 40px
                ta center
                border-radius 20px
                float left
              p
                lh 40px
                pl 50px
              ul
                pl 68px
                s 85%
                list-style disc
                c #666


      &.friends
        ul
          li
            col 2
            w 148px
            mr 12px
            &.last-of-type
              mr 0
            a
              d block
              .img
                ta center
                f bold 1.5em/100px sans
                c dim
                bg #eee
                b 1px solid #ddd
