header.site
  m 0 0 1.5em
  bt 3px solid #888
  bb 1px solid #ddd
  background linear-gradient(top, m250, m230)
  nav
    cnt()
    bx 1px solid w30
    > ul
      bl 1px solid b10
      clearfix()
      > li
        float left
        br 1px solid b10
        clearfix()
        relative()
        > a
          bx 1px solid #fff
          d block
          p 0 1em
          lh x*3
          c txt
          text-shadow #fff 0 1px 0
          &:hover
            background linear-gradient(top, w30, w10 30%, b1)
          
        &.active
          &:after
            content ''
            d block
            w 100%
            h 3px
            bg link
            absolute top -3px left 0
          a
            c link
        
        &.search
          form
            bx 1px solid w30
            p x*.5 1em
            input
              border-radius 1em
              span 3
              pl .5em
            
        &.branding
          h1 a
            f bold italic 1.25em serif
            ls -1px
            lh x*3
            c fff
        &.events-ideas
          &:after
            content ''
            d block
            h x*3
            w 1px
            bg #fff
            absolute top 0 right -2px
        &.user, &.menu
          float right
        &.user
          bl 1px solid b10
          &:before
            content ''
            d block
            h x*3
            w 1px
            bg #fff
            absolute top 0 left -2px
          a
            clearfix()
            .avatar
              r x*1.5
              m x*.75 x*.75 x*0.75 0
              float left
              img
                r x*1.5
            span.name
              d block
              float left
